*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

input, textarea {
    border: 1px solid black;
    background-color : #d9dfea; 
  
  }

.container {
    max-width: 900px;
    margin: 110px auto;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #1877F2;
}

header {
    padding-top: 8px;
    background-color: rgb(59, 89, 152) ;
}

.header-container {
    width: 90%;
}
.logo a {
    text-decoration: none;
}

.header__content h1 {
    color: #4f8adf;
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 2px;
}

.nav__links {
    margin-right: 166px;
}
.nav-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 5px
}


.nav-row a{
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.section--container {
    margin: 3px;    
}

.flex-section {
    display: flex;
}

.login-container {
    padding: 3px;
    border: 2px dashed rgb(59, 89, 152);
}
.login-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button {
    padding: 5px;
    width: 100px;
    margin: 5px 0;
    background-color: #3b5998;
    color: white;
    border: none;
    cursor: pointer;
}

.button__container {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

.button__container button {
    padding: 5px;
    width: 80px;
    margin: 5px 0;
    background-color: #528add;
    color: white;
    border: 2px solid rgb(59, 89, 152);
    cursor: pointer;
}

.heading--text {
    border: 1px solid #1877F2;
    margin: 0;
    padding-left: 3px;
    color: white;
    background-color: rgb(59, 89, 152);
}

.right__section {
    flex-grow: 1;
    margin-left: 5px;
    padding-bottom: 30px;
    border: 1px solid #1877F2;

}

.right__section-container {
    padding-right: 52px;
    padding-left: 20px;
}


.right__section--content h1 {
    text-align: center;
}

.right__section--content .target {
    margin-bottom: 1px;
    padding: 0;
}

.customized__content .usage {
    margin: 0;
} 

.customized__content ul {
    margin: 0;
    padding-left: 19px;
} 
.button__container1 button {
    padding: 5px;
    width: 80px;
    margin: 5px 0;
    background-color: #528add;
    color: white;
    border: 2px solid rgb(59, 89, 152);   
    cursor: pointer;
}

.button__container1 {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}


.footer--nav a {
    color: #3b5998;
    text-decoration: none;
}

.row1 {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer-message .mes {
    margin: 0;
}

.footer-message .target {
    margin: 0;
    padding-bottom: 30px;
}



